{% extends "base.html" %}

{% block title %}

Socket

{% endblock %}

{% block headerlist %}

{{ super() }}

{% endblock %}

{% block main %}

<h2>Socket</h2>
<div class="main-list">
    <ul>
        <table>
            <thead>
                <tr>
                    <div class="main-list">
                        <th colspan="7">Socket Table</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                {% for i in result %}
                <tr>
                    <div class="main-list">
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                        <td>{{ i[6] }}</td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
</div>

{% endblock %}