{% extends "base.html" %}

{% block title %}

Diagnosis of Raspberry Pi

{% endblock %}

{% block headerlist %}

{{ super() }}

{% endblock %}

{% block main %}

<h2> Diagnosis of Raspberry Pi </h2>
<ul>
    <h3><a href="{{ url_for('get_ip_addr') }}">Interface IP Address</a></h3>
    <h3><a href="{{ url_for('get_socket') }}">Socket</a></h3>
    <h3><a href="{{ url_for('get_route') }}">IP Routing Table</a></h3>
    <h3><a href="{{ url_for('get_temp') }}">Temparature</a></h3>
    <h3><a href="{{ url_for('get_disk') }}">Disk Usage</a></h3>
    <h3><a href="{{ url_for('get_mem') }}">Memory Usage</a></h3>
    <h3><a href="{{ url_for('get_vmstat') }}">Vmstat</a></h3>
</ul>

{% endblock %}